Binaries/Linux
Binaries/Win64/Out
Data/__RAW/actors/npc/external
Data/__RAW/env/external
Data/__RAW/misc

ThirdParty/angelscript/angelscript/lib/Linux
ThirdParty/angelscript/docs
ThirdParty/allegro5/bin
ThirdParty/allegro5/android
ThirdParty/allegro5/contrib
ThirdParty/allegro5/demos
ThirdParty/allegro5/docs
ThirdParty/allegro5/examples
ThirdParty/allegro5/misc
ThirdParty/allegro5/python
ThirdParty/allegro5/tests
ThirdParty/allegro5/tools
.vscode/c_cpp_properties.json
.vscode/.cmaketools.json
CMakeLists.txt.user
ThirdParty/allegro5_win/
ThirdParty/angelscript/angelscript/lib/Win64
